# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#PostgreSQL connection string
DATABASE_URL="" 

#Service Port (e.g. PORT=3000)
PORT=           

#jwt secret phrase
# you can use this command to generate a random secret phrase:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET_PHRASE="" 

#jwt expire token time, default value 1h (token expires after one use in any case)
JWT_EXPIRES="1h" 